extends ../layouts/general
block content
    h1 Create User

    if errors
      each error in errors
          .alert.alert=danger = error
    form(action="/users/store", method="POST", enctype="multipart/form-data")
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group
            label(for="name") Name
            input#name.from.control(type="text", name="name", , style="margin-left: 10px", value=values ? values.name : '')
        br
        .form-group
            label(for="phone") Phone
            input#phone.from.control(type="text", name="phone", , style="margin-left: 10px", value=values ? values.phone : '')
        br
        .form-group
            label(for="avatar") Avatar
            input#avatar.from.control.file(type="file", name="avatar", style="margin-left: 10px")
        button.btn.btn-primary(style="margin-top: 10px") Create
